.tempNumber{
    font-size: 22px;
}

.the-box{
    margin-bottom: 50px;
    width: 13%;
}

@media all and (max-width:1300px) {
    .the-box{
        width: 14%;
    }
    
}

@media all and (max-width:767px) {
    .the-box{
        width: 100%;
    }
    
}

@media all and (max-width:1200px) {
    .the-box{
        width: 20%;
    }
    
}
@media all and (max-width:1000px) {
    .the-box{
        width: 25%;
    }
    
}

@media all and (max-width:767px) {
    .the-box{
        width: 30%;
    }
    
}

@media all and (max-width:530px) {
    .the-box{
        width: 50%;
    }
    
}

@media all and (max-width:400px) {
    .the-box{
        width: 100%;
    }
    
}

.image{
    margin-top: 25px;
    margin-bottom: 25px;
}